---
---

<div class="bg-blobs" aria-hidden="true">
  <div class="bg-blobs__blob bg-blobs__blob--1"></div>
  <div class="bg-blobs__blob bg-blobs__blob--2"></div>
  <div class="bg-blobs__blob bg-blobs__blob--3"></div>
  <div class="bg-blobs__blob bg-blobs__blob--4"></div>
</div>

<div class="bg-grid" aria-hidden="true">
  <div class="bg-grid__overlay"></div>
  <div class="bg-grid__line bg-grid__line--1"></div>
  <div class="bg-grid__line bg-grid__line--2"></div>
  <div class="bg-grid__line bg-grid__line--3"></div>
  <div class="bg-grid__glow bg-grid__glow--1"></div>
  <div class="bg-grid__glow bg-grid__glow--2"></div>
</div>
